.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  grid-area: header;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #525252;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  
}