.timer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer > span {
  width: 100px;
  height: 100px;
  background-color: rgb(143, 136, 218);
  border-radius: 10px;
  color: #fff;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}