* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 8fr 0.7fr;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
}

.Header { grid-area: header; }

.Content { grid-area: content; }

.Footer { grid-area: footer; }

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5390D9;
}

.main {
  width: 45%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

h2 { color: #525252; }